<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Employee</title>
        <link rel="stylesheet" href="{% static 'employees/css/styles.css' %}">
        </head>
    <body>
        <h1>Delete Employee</h1>
        <p>Are you sure you want to delete {{ employee.first_name }} {{ employee.last_name }}?</p>
        <form method="POST" action="{% url 'employee_delete' employee.id %}">
            {% csrf_token %}
            <button type="submit">Confirm Delete</button>
        </form>
        <a href="{% url 'employee_list' %}">Cancel</a>
        <a href="{% url 'employee_list' %}">Back to Employee List</a>
        
        {% include 'employees/footer.html' %}
        </body>
        </html>